#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import pandas as pd

data_path = 'data/supermarket_sales.csv'
df = pd.read_csv(data_path)
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [148]:
df.groupby("Branch")["gross income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

Найвищий сумарний прибуток має філіал супермаркету С

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [142]:
df.groupby("City")["gross income"].max()

City
Mandalay     48.69
Naypyitaw    49.65
Yangon       49.49
Name: gross income, dtype: float64

В місті Naypyitaw знаходиться філіал з найвищим прибутком, але різниця між прибутками міст незначна.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [77]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values=['Quantity'], aggfunc="count")
display(invoices_by_category)

                           Quantity                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [129]:
invoices_by_category_sorted = invoices_by_category.sort_values(by=("Quantity", "Electronic accessories"), ascending=False)
invoices_by_category_sorted.head(1).index[0]

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. Яка різниця в середньому значенні gross income для різних типів клієнтів (Customer type)?
Це допоможе зрозуміти, чи є різниця в покупках серед різних типів покупців.
Можна розробити акції, якісь лояльні програми або спеціальні пропозиції для залучення нових та постійних покупців.

In [140]:
df.groupby('Customer type')['gross income'].mean()

Customer type
Member    15.609110
Normal    15.148707
Name: gross income, dtype: float64

2. Виявити як змінюється прибуток  gross income при різному способі оплати (Payment)?
Це допоможе зрозуміти, які методи оплати використовуються частіше та чи треба це якось використовувати в рекламі або при формуванні акцій.

In [136]:
df.groupby('Payment')['gross income'].sum()

Payment
Cash           5343.170
Credit card    4798.432
Ewallet        5237.767
Name: gross income, dtype: float64

3. Які продуктові категорії найбільший прибутокі для кожного міста?
Треба збільшити асортимент товарів та акцій.

In [138]:
df.groupby(['City', 'Product line'])['gross income'].sum()

City       Product line
Mandalay   Electronic accessories     811.9735
           Fashion accessories        781.5865
           Food and beverages         724.5185
           Health and beauty          951.4600
           Home and lifestyle         835.6745
           Sports and travel          951.8190
Naypyitaw  Electronic accessories     903.2845
           Fashion accessories       1026.6700
           Food and beverages        1131.7550
           Health and beauty          791.2060
           Home and lifestyle         661.6930
           Sports and travel          750.5680
Yangon     Electronic accessories     872.2435
           Fashion accessories        777.7385
           Food and beverages         817.2905
           Health and beauty          599.8930
           Home and lifestyle        1067.4855
           Sports and travel          922.5095
Name: gross income, dtype: float64